[Unit]
Description=Eyes 20 20 20
Documentation=

[Service]
ExecStart=/usr/bin/notify-send "Look 20 feet away for 20 seconds!" -t 20000
ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID

[Install]
WantedBy=user-applications.target
