[Unit]
Description=Timer for eyes.service that goes off every 20 minutes

[Timer]
OnBootSec=20min
OnUnitInactiveSec=20min
Unit=eyes.service

[Install]
WantedBy=user-applications.target
