[Unit]
Description=Set fan Corsair radiator fan speeds
Documentation=

[Service]
ExecStart=liquidctl --match "Corsair Hydro H115i" set fan speed 30 50

[Install]
WantedBy=multi-user.target
